<h1>All Rabit Articles</h1>
<section>
  <%= link_to 'New Article...', new_article_path %>
</section>
<section>
  <% @articles.each do |article| %>
    <article>
      <h2><%= article.title %></h2>
      <div>
        <%= article.text %>
      </div>
      <div>
        <%= link_to 'Show', article_path(article) %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Delete', article_path(article), 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' } %>
      </div>
    </article>
  <% end %>
</section>
<section>
  <%= link_to 'Home', root_path %>
</section>